<style>
.img {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

main li {
    color: red;
    list-style: none;
}

.campo {

    font-weight: bold
}

.campo::after {
    content: ":";
}

.valor {
    font-style: italic;
}

#nome {
    color: blue;
    height: 30px;
    vertical-align: 40px;
}
.imagem_certificado{
    width: 100px;
    height: 80px;
}
</style>
